<h3>Edit Book</h3>
<form #form="ngForm" *ngIf="book" (ngSubmit)="save()">
  <label for="title">Title:</label>
  <div [hidden]="!title.errors?.required || title.pristine">
    Title is requred!
  </div>
  <input
    type="text"
    [(ngModel)]="book.title"
    name="title"
    #title="ngModel"
    required
  />
  <br />

  <label for="abstract">Abstract:</label>
  <div [hidden]="!abstract.errors?.required || abstract.pristine">
    Title is requred!
  </div>

  <textarea
    [(ngModel)]="book.abstract"
    name="abstract"
    #abstract="ngModel"
    required
  ></textarea>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>
